li {
    overflow: hidden;
}

img {
    width: 720px;
    border-radius: 2px;

    opacity: 0.6;

    overflow: hidden;

    transition: .35s ease;

    cursor: pointer;
}

img:hover {
    opacity: 1;
    scale: 1.03;
}

.projects-circle {
    position: absolute;
    bottom: 15%;
    left: 50%;

    transform: translate(-50%, -21%);

    width: 6.9rem;
    height: 6.9rem;

    border-radius: 50%;
    background: #fff;

    cursor: pointer;
}

.scroll-txt {
    position: absolute;
    bottom: 16%;
    left: 50%;

    width: 9.15rem;
    height: 9.15rem;

    color: white;

    transform: translate(-51%, -0.1%);

    animation: rotating 10s linear infinite;
}

.scroll-txt span {
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;

    font-size: 11px;
}

@keyframes rotating {
    0% {
        transform: translate(-51%, 1%) rotateZ(0deg);
    }

    100% {
        transform: translate(-51%, 1%) rotateZ(360deg);
    }
}