.projects-circle {
    position: absolute;
    bottom: 15%;
    left: 50%;

    transform: translate(-50%, -21%);

    width: 6.9rem;
    height: 6.9rem;

    border-radius: 50%;
    background: #fff;

    cursor: pointer;
}

.scroll-txt {
    position: absolute;
    bottom: 16%;
    left: 50%;

    width: 9.15rem;
    height: 9.15rem;

    color: white;

    transform: translate(-51%, -0.1%);

    animation: rotating 10s linear infinite;
}

.scroll-txt span {
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;

    font-size: 11px;
}

@keyframes rotating {
    0% {
        transform: translate(-51%, 1%) rotateZ(0deg);
    }

    100% {
        transform: translate(-51%, 1%) rotateZ(360deg);
    }
}

/* Page for projects: */
.previews img {
    pointer-events: none;
}

.features-reviews li {
    width: 21rem;
    height: 19.5rem;
    overflow: hidden;

    position: relative;
}

@media screen and (min-width: 1024px) {
    .features-reviews li {
        width: 17rem;
    }
}

.features-reviews li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;

    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: #060606a1;

    opacity: 0;

    transition: .3s ease;
    pointer-events: none;
}

.features-reviews li[name="adaptiveness"]::after {
    content: "Adaptiveness";
}

.features-reviews li[name="transition"]::after {
    content: "Transition";
}

.features-reviews li[name="cursor"]::after {
    content: "Cursor Effects";
}

.features-reviews li[name="emoji"]::after {
    content: "Emojis 😀";
}

.features-reviews li[name="chatting"]::after {
    content: "Real-time chatting";
}

.features-reviews li[name="auth"]::after {
    content: "User auth";
}

.features-reviews li * {
    transition: .3s ease;

    border-radius: 2px;
}

.features-reviews li:hover * {
    scale: 1.03;
}

.features-reviews li:hover::after {
    opacity: 1;
}

.features-reviews li video {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(2.5);
}

.features-reviews li:last-child img {
    height: inherit;
}