.cursor-inner {
    position: fixed;
    left: 0;
    top: 0;

    width: 10px;
    height: 10px;

    background: #c6c6c6;
    
    border: 1px solid #c6c6c6;
    border-radius: 50%;

    pointer-events: none;
    transform: translate(-50%, -50%);

    mix-blend-mode: difference;
}

.cursor-arrow {
    opacity: 0;

    transition-duration: 300ms;

    pointer-events: none;
}

.project-name {
    color: white;

    position: absolute;
    top: -2px;
    
    width: 30px;

    margin-left: 10px;

    opacity: 0;

    font-size: 0.2rem;

    transition: .35s ease;
}